@import "tailwindcss";

* {
  margin: 0;
  font-family: monospace;
  
}

::selection {
  background: #0d5173;
  color: #ffffff;
}
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px;
  background: #000;
}

::-webkit-scrollbar-track {
  background: black; /* Darker blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1875a3, #325565, #049191);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #80d3fc, #1b4253, #33eeee);
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/LibertinusSans-Italic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}



.font {
  font-family: "MyCustomFont", monospace;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  background: linear-gradient(135deg, #325565, #32bbbb, #12d5d577);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (min-width: 768px) {
  .font {
    font-size: 3.75rem;
  }
}

body {
  height: 100%;
  width: 100%;
 ;
}

html {
  font-size: 110%;
  scroll-behavior: smooth;
}
.bg{
   background-image: url("/bg.jpg");
  background-position:left;
  background-repeat: no-repeat;
 background-size: cover;
  background-attachment:fixed;

}
.bg::before {
  content: "";
  position: fixed;
  inset: 0; 
  
  background-color: rgba(82, 82, 82, 0.22); 
  backdrop-filter: blur(3px);
  pointer-events: none;
}
.margin-p{
  margin-top: 15px;
  margin-bottom: 50px;
}
.hero-margin{
  margin-top: 85px;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-animation {
  animation: marquee 60s linear infinite;
}

@media (max-width: 768px) {
  .marquee-animation {
    animation-duration: 20s;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .marquee-animation {
    animation-duration: 45s;
  }
}
.card {
  --start: 0;
  position: relative;
  z-index: 30;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}
.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}